# Личные настройки
settings.json

# Кеш AI-категорий (у каждого свой)
ai_categories_cache.json

# База данных статистики
stats.db
stats(1).db

# Python
__pycache__/
*.pyc
*.pyo

# PyInstaller
build/
dist/
*.spec

# Виртуальное окружение
venv/
.venv/

# IDE
.vscode/
.idea/

# loging
ai_debug.log
network_debug.log